*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: sans-serif;
	font-size: 12px;
	color: #666;
}

article
{
	display: block;
	float: left;
	clear: both;
	width: 400px;
	position: absolute;
	margin-left: -200px;
	margin-top: -60px;
	left: 50%;
	top: 50%;
}

h1
{
	float: left;
	clear: both;
	display: block;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	margin-bottom: 15px;
}

p
{
	display: block;
	text-transform: uppercase;
	float: left;
	clear: both;
}

span
{
	font-size: 20px;
	display: block;
	float: left;
	clear: none;
	border: 1px #dadada solid;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-right: 3px;
	border-radius: 3px;
	text-align: center;
	background: #fff;
}